* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}
.left-section {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.form input {
  width: 300px;
  height: 40px;
}

.right-section {
  display: flex;
  margin-right: 0;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.66);
}
.header-input {
  padding-left: -100px;
}

#logo {
  width: 40px;

  height: 40px;
  margin: 10px 10px;
}
#img-maroc {
  width: 15px;
  height: 15px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}
#shopping-cart {
  transition: 0.3s;
}
/* main*/
main {
  width: 100%;
}
.contenair {
  display: flex;
  width: 100%;
}

.part1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px;
  width: 50%;
}
input {
  width: 100%;
  height: 30px;
}
label {
  margin-bottom: -13px;
}
.part2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px;
  width: 50%;
}
input {
  width: 100%;
}
label {
  margin-bottom: -13px;
}
.description {
  padding-left: 20px;
  width: 98%;
}
.icon-container {
  display: inline-block;
  position: relative;
}

#navbar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-right: 20px;
  background-color: white;
  height: 550px;
  width: 500px;
  transition: 0.3s;
}
.icon-container:hover #navbar {
  display: block;
}
.last_section {
  margin-right: 20px;
}
.botton {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 31px;
  height: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}
.botton span {
  width: 100%;
  height: 5px;
  border-radius: 7px;
  background-color: black;
  margin-bottom: 3px;
}
.exit {
  display: none;
}
.amazon {
  display: none;
}

/* for phone */
@media screen and (max-width: 500px) {
  .botton {
    display: flex;
    margin-left: 15px;
    position: static;
  }
  .exit {
    display: flex;
    color: aliceblue;
  }
  .right-section > ul:hover .botton {
    display: flex;
  }

  .form input {
    width: 160px;
    height: 25px;
    margin-left: -4px;
  }
  .right-section > ul {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: calc(100% - 70px);
    position: fixed;
    left: 10px;
    top: 20px;
    background-color: #060605f2;
    color: white;
    transition: 0.3s;
  }
  .right-section > ul li {
    padding-bottom: 20px;
    border-bottom: rgba(26, 6, 69, 0.863) solid 2px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .botton:hover {
    display: flex;
  }
  #navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.285) solid;
  }
  .part1 {
    width: 90%;
    margin: 32px 9px;
    padding-left: 20px;
  }
  .part2 {
    width: 90%;
    margin: 32px 9px;
    padding-left: 20px;
  }
  .description {
    padding-left: 20px;
    width: 90%;
    margin: 32px 9px;
  }
  .contenair {
    display: block;
  }
  .amazon {
    display: flex;
    color: beige;
  }
  li {
    color: rgb(9, 9, 9);
    transition: 0.3s;
  }
  li:hover {
    background-color: rgba(137, 43, 226, 0.313);
  }
  li a {
    color: aliceblue;
    transition: 0.3s;
  }
  li a:hover {
    padding-left: 15px;
    background-color: rgba(137, 43, 226, 0.313);
  }
}
footer {
  background-color: rgb(48, 45, 51);
  color: beige;

  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
footer a {
  color: aliceblue;
}
footer span {
  color: rgba(250, 235, 215, 0.637);
  padding-top: 20px;
}
